.container {
    margin: 0 100px;

    @include MQ(L) {
        margin: 0;
    }
}

.card-container {
    position: relative;
    width: 100%;
    max-width: 1280px;
    min-height: 80vh;
    margin: 10vh auto;
    padding: 0;
    background-color: #444;
    border-radius: 32px;
    backface-visibility: hidden;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 10%);
    // overflow: hidden;

    @include MQ(L) {
        height: 100%;
        margin: auto;
        border-radius: 0px;
        min-height: 100vh;
    }

    &_header {
        float: left;
        width: 100%;
        max-width: 380px;
        height: 100%;
        max-height: 80vh;
        min-height: inherit;
        text-align: center;
        padding: 70px 30px 45px;
        overflow: auto;
    }

    &_content {
        position: absolute;
        right: 0;
        background-color: transparent;
        height: 100%;
        width: 100%;
        max-width: calc(100% - 380px);

        &--animated-sections {
            position: relative;
            height: 100%;
            -webkit-perspective: 1500px;
            -moz-perspective: 1500px;
            perspective: 1500px;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            backface-visibility: hidden;
        }
    }
}

.card-nav {
    position: absolute;
    padding: 15px 0;
    width: 70px;
    right: -90px;
    background-color: #444;
    border-radius: 35px;
    z-index: 999;
    list-style: none;
    top: 0;
    -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 10%);
    -moz-box-shadow: 0 0 30px -5px rgba(0, 0, 0, .15);
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 10%);

    @include MQ(L) {
        display: none;
    }

    &_nav-item {
        width: 70px;
        height: 50px;
        padding: 10px;

        a {
            color: white;
            position: relative;
            padding: 10px;
            transition: all .3s ease-in-out;

            &:hover {
				color: $blue;
                .hover-tab {
                    visibility: visible;
                    opacity: 1;
                }
            }

            span {
                font-size: 30px;
            }

            .hover-tab {
                position: absolute;
                width: auto;
                opacity: 0;
                color: #fff;
                padding: 2px 10px;
                background-color: $blue;
                white-space: nowrap;
                right: 60px;
                top: -50%;
                margin-top: 30%;
                transition: all .3s ease-in-out;
                z-index: 0;
                box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.22);
                font-size: 15px;
            }
        }

        .active {
            color: $blue;
        }
    }
}

.arrow-nav {
    position: absolute;
    padding: 10px 0;
    width: 60px;
    right: -80px;
    background-color: #444;
    border-radius: 35px;
    z-index: 98;
    list-style: none;
    bottom: 0;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 10%);
    -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 10%);
    -moz-box-shadow: 0 0 30px -5px rgba(0, 0, 0, .15);

    &_right {
        width: 60px;
        height: 47.75px;
        padding: 10px;
        display: block;
        position: relative;
        text-align: center;
        color: #b5b6b7;
        font-size: 24px;
        transition: all .3s ease-in-out;

        &:hover {
            cursor: pointer;
        }
    }

    &_left {
        width: 60px;
        height: 47.75px;
        padding: 10px;
        display: block;
        position: relative;
        text-align: center;
        color: #b5b6b7;
        font-size: 24px;
        transition: all .3s ease-in-out;

        &:hover {
            cursor: pointer;
        }
    }
}