.animated-section {
    position: absolute;
    background-color: #222;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    padding: 60px;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
    background-size: cover;
}

.section-active {
    opacity: 1;
    overflow: auto;
    visibility: visible;
    z-index: 99;
}

.section-content {
    vertical-align: middle;
    width: 100%;
    align-items: center;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;

    h2 {
        color: #f5f5f5;
        font-size: 60px;
        line-height: 74px;
        margin: 0;
        text-align: center;
    }

    &--title {
        &_typed {
            font-size: 21px;
            margin: 5px 0;
        }
    }
}

.page-title {
    display: inline-block;
    position: relative;
    padding-right: 25px;
    padding-bottom: 15px;
    margin-bottom: 30px;

    &:after {
        position: absolute;
        opacity: .45;
        top: 10px;
        right: 0;
        content: '';
        height: 30px;
        width: 50px;
        background-image: -webkit-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
        background-image: -moz-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
        background-image: -ms-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
        -webkit-background-size: 6px 6px;
        -moz-background-size: 6px 6px;
        background-size: 6px 6px;
        z-index: 0;
    }

    h2 {
        position: relative;
        font-size: 32px;
        z-index: 1;

        span {
            color: $blue;
        }
    }
}

.info-list {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 10px;
        }
    }

    .title {
        color: $blue;
        margin-right: 5px;
        font-weight: 600;
    }

    .value {
        font-weight: 600;
    }
}

.block-title {
    display: inline-block;
    position: relative;
    padding-right: 12px;
    padding-bottom: 10px;
    margin-bottom: 15px;

    h3 {
        position: relative;
        font-size: 21px;
        z-index: 1;

        span {
            color: $blue;
        }
    }

    &::after {
        position: absolute;
        opacity: .45;
        top: 10px;
        right: 0;
        content: '';
        height: 20px;
        width: 30px;
        background-image: -webkit-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
        background-image: -moz-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
        background-image: -ms-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
        -webkit-background-size: 6px 6px;
        -moz-background-size: 6px 6px;
        background-size: 6px 6px;
        z-index: 0;
    }
}

.info-block-w-icon {
    margin-bottom: 25px;

    .ci-icon {
        display: table-cell;
        width: 54px;
        padding-right: 25px;

        i {
            position: relative;
            font-size: 42px;
            color: $blue;
            opacity: .7;
        }
    }

    .ci-text {
        h4 {
            margin: 5px 0;
            font-size: 18px;
        }

        p {
            font-size: .95em;
            margin-bottom: 10px;
        }
    }
}

.fun-fact {
    position: relative;
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 0 15px;
    background: #333;
    padding: 25px 10px 15px;
    border: 2px solid #444;
    border-radius: 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    i {
        position: relative;
        font-size: 33px;
        color: #04b4e0;
        margin-bottom: 6px;
        width: 33px;
        height: 33px;
    }

    h4 {
        font-size: 16px;
        margin: 15px;
    }

    .fun-fact-block-value {
        color: #aaa;
        font-size: 36px;
        line-height: 50px;
        display: block;
        margin: 15px 0 10px;
    }

    .fun-fact-block-text {
        display: block;
    }
}

.clearfix {
    &::before {
        content: '';
        display: table;
    }

    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

.timeline-second-style {
    .timeline-item {
        position: relative;
        display: table;
        table-layout: fixed;
        width: 100%;
        padding-bottom: 15px;

        &:last-child {
            padding-bottom: 0;
        }
    }

    .item-title {
        font-size: 16px;
        margin-bottom: 3px;
    }

    .left-part {
        width: 30%;
        display: table-cell;
        padding-right: 25px;
        min-height: 100%;
        text-align: right;
        vertical-align: top;
    }

    .right-part {
        width: 70%;
        display: table-cell;
        padding-left: 25px;
        padding-right: 15px;
        vertical-align: top;

        p {
            font-size: .92em;
        }
    }

    .item-company {
        display: block;
        margin: 0 0 4px;
        font-size: 13px;
        font-weight: 300;
        line-height: 1.45em;
        color: #a5a6a7;
    }

    .divider {
        position: absolute;
        top: 0;
        left: 30%;
        bottom: 0;
        width: 1px;
        background-color: #444;

        &::before {
            content: '';
            display: block;
            position: absolute;
            margin-top: 4px;
            width: 17px;
            height: 17px;
            position: absolute;
            margin-left: -8px;
            border-radius: 10px;
            background-color: #04b4e0;
            opacity: .25;
            z-index: 0;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            margin-top: 8px;
            width: 9px;
            height: 9px;
            margin-left: -4px;
            background-color: #222;
            border-radius: 5px;
            border: 2px solid #04b4e0;
            z-index: 1;
        }
    }
}

.knowledges {
    padding: 0;
    padding-bottom: 30px;

    li {
        display: inline-block;
        background-color: #04b4e0;
        border-radius: 3px;
        color: #fff;
        padding: 1px 10px;
        margin: 3px 2px;
        font-size: 13px;
        font-weight: 600;
    }
}

.lm-info-block {
    position: relative;
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 0 15px;
    background-color: #333;
    padding: 20px 10px;
    border: 1px solid #444;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    h4 {
        font-size: 15px;
        margin-top: 8px;
    }

    i {
        position: relative;
        font-size: 33px;
        color: #04b4e0;
        z-index: 1;
    }

    .lm-info-block-value {
        font-size: 30px;
        line-height: 30px;
        font-weight: 400;
        display: block;
        margin: 10px 0;
        color: #04b4e0;
    }

    .lm-info-block-text {}
}

.map {
    width: 100%;
    height: 140px;
    margin: 0 0 35px;
}

.email-form-wrapper {
    label {
        display: block;
        width: 100%;
        position: relative;
        margin-bottom: 20px;
        padding-right: 20px;

        span {
            position: absolute;
            top: 2px;
            left: 10px;
            color: black;
        }
    }

    &_input {
        width: 100%;
    }

    &_textarea {
        width: 100%;
    }

    &_send-button {
        color: black;
    }
	#rc-anchor-container {
		background: transparent;
	}
    .ant-form-item-explain-error {
        color: #fff;
        background-color: #ff4e4e;
        font-family: poppins, Helvetica, sans-serif;
        font-weight: 600;
        position: absolute;
        display: inline-block;
        padding: 0 5px;
        font-size: .93em;
        line-height: 1.75em;
        margin: -2px 0 0 10px;

        &::after {
            content: " ";
            position: absolute;
            left: 5px;
            bottom: 100%;
            width: 0;
            height: 0;
            border-bottom: 10px solid #ff4e4e;
            border-right: 10px solid transparent;
        }
    }
}