@import './_utils/_color.scss';
@import './_utils/_mixin.scss';
@import './_utils/_shadows.scss';
@import './_utils/_variables.scss';
@import './_utils/_swiper.scss';
@import './_layout/_layout.scss';
@import './_components/_header.scss';
@import './_components/_button.scss';
@import './_pages/_animatedPage.scss';

.full-width {
	width: 100% !important;
}
.white-space-50 {
	padding-bottom: 50px !important;
}
.white-space-30 {
	padding-bottom: 30px !important;
}
.white-space-10 {
	padding-bottom: 10px !important;
}