@import '~antd/dist/antd.css';
@import '../public/styles/site.scss';

.animated-background {
	position: absolute;
	width: auto;
	height: auto;
	top: -28px;
	left: -28px;
	right: -28px;
	bottom: -28px;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
	background-image: url('../public/image/main-bg.png');
}